
<div class="weather-details">

    <h1>Date {{forecastData.date}}</h1>

    <div class="weather-container">
        <div class="weather-header">
            <p>Max Temperature {{max_temperature}}</p>
            <p>Min Temperature {{min_temperature}}</p>
            <p class="italics">{{forecastData.day.condition.text}}</p>
        </div>
        
        <div class="weather-additional-info">
            <p>Average Temperature {{avg_temperature}}</p>
            <p>Total Precipitation {{forecastData.day.totalprecip_mm}}</p>
            <p>Average Humidity {{forecastData.day.avghumidity}}</p>
            <p>UV Index {{forecastData.day.uv}}</p>
        </div>
    </div>
</div>