
<div class="weather-details">

    <div class="weather-container flex-baseline">

        <div class="flex-row flex-baseline bottom-border" style="width: 100%;">
            <h1>{{DOW}}</h1>
            <p>&nbsp;:{{forecastData.date}}</p>
        </div>

        <div class="weather-data-container flex-row">
            <div class="weather-header">
<pre style="white-space: pre-wrap; font-family: 'Abduction'">{{weatherSymbols.cloudy}}</pre>
            </div>

            <div class="weather-additional-info">
                <p class="italics weather-statistic">{{forecastData.day.condition.text}}</p>
                <p class="weather-statistic">{{min_temperature}}...{{max_temperature}}&deg;{{unit}}</p>
                <p class="weather-statistic">{{forecastData.day.maxwind_mph}} MPH</p>
                <p class="weather-statistic">{{forecastData.day.totalprecip_mm}}mm  |  {{forecastData.day.avghumidity}}%</p>
            </div>
        </div>

    </div>

</div>