
<div class="weather-details">

    <div class="weather-container flex-baseline">

        <div class="flex-row flex-baseline bottom-border" style="width: 100%;">
            <h1>Today</h1>
            <p>&nbsp;:{{weatherData.last_updated}}</p>
        </div>

        <div class="weather-data-container flex-row">
            <div class="weather-header">
<pre style="white-space: pre-wrap; font-family: 'Abduction'">{{weatherSymbols.cloudy}}</pre>
            </div>

            <div class="weather-additional-info">
                <p class="italics weather-statistic">{{weatherData.condition.text}}</p>
                <p class="weather-statistic">{{temperature}} &deg;{{unit}}</p>
                <p class="weather-statistic">{{weatherData.wind_mph}} MPH</p>
                <p class="weather-statistic">{{weatherData.precip_mm}}mm  |  {{weatherData.humidity}}%</p>
            </div>
        </div>

    </div>

</div>