<canvas class="canvas" #canvas id="canvas" style="height: 100%; width: 100%;" ></canvas>

<h1>WeatherViewer Dashboard</h1>

<div class="container">
    <input id="location-input" ngx-google-places-autocomplete #location [options]="options" (onAddressChange)="addressChange($event)" />
    <div id="unit-options">
        <input type="radio" checked name="units" value="c" (change)="OnTemperatureUnitChange('c')"/>C
        <input type="radio" name="units" value="f" (change)="OnTemperatureUnitChange('f')"/>F
    </div>
</div>

<!-- Reminder that WeatherApi defines the data type 'Forecast' to represent both weather history and literal weather forecasts (kinda confusing on the surface) -->
<div class="weather">

    <div>
        <button type="button" (click)="changeWeather('Sunny')">[TEST] Sunny</button>
        <button type="button" (click)="changeWeather('Partly Cloudy')">[TEST] Partly Cloudy</button>
        <button type="button" (click)="changeWeather('Overcast')">[TEST] Overcast</button>
        <button type="button" (click)="clearWeatherScene()">[TEST] Clear Scene</button>
    </div>

    <div class="flex-row flex-center">
        <app-current-weather-view *ngIf="currentWeatherData" [weatherData]="currentWeatherData" [unit]="unit"></app-current-weather-view>
    </div>

    <div class="flex-row flex-center">
        <app-weather-data-details *ngFor="let historyData of weatherHistoryData" [forecastData]="historyData" [unit]="unit"></app-weather-data-details>
        <app-weather-data-details *ngFor="let forecastData of weatherForecastData" [forecastData]="forecastData" [unit]="unit"></app-weather-data-details>
    </div>

</div>
