<canvas class="canvas" #canvas id="canvas" style="height: 100%; width: 100%;" ></canvas>

<h1>WeatherViewer Dashboard</h1>

<div class="container">
    <input id="location-input" ngx-google-places-autocomplete #location [options]="options" (onAddressChange)="addressChange($event, units.value)" />
    <div id="radio-container">
        <input type="radio" checked name="units" value="c" (change)="OnTemperatureUnitChange('c')"/>C
        <input type="radio" name="units" value="f" (change)="OnTemperatureUnitChange('f')"/>F
    </div>
</div>

<label for="temperature-unit">Unit of Temperature</label>
<select #units name="Temperature Unit" id="temperature-unit" (change)="onUnitChange(units.value)">
    <option value="c">Celsius</option>
    <option value="f">Fahrenheit</option>
</select>

<!-- Reminder that WeatherApi defines the data type 'Forecast' to represent both weather history and literal weather forecasts (kinda confusing on the surface) -->
<div class="weather">
    <!--
    <div *ngIf="camera" style="color: white;">
        <p>rotX: {{camera.rotation.x}}</p>
        <p>rotY: {{camera.rotation.y}}</p>
        <p>rotZ: {{camera.rotation.z}}</p>

        <p>posX: {{camera.position.x}}</p>
        <p>posY: {{camera.position.y}}</p>
        <p>posZ: {{camera.position.z}}</p>
    </div>
    -->
    <div *ngIf="cloud" style="color: white;">
        Raindrops: {{cloud.raindrops.length}}
    </div>
    <div>
        <button type="button" (click)="moveScene()">Test</button>
    </div>

    <app-weather-data-details *ngFor="let historyData of weatherHistoryData" [forecastData]="historyData" [unit]="unit"></app-weather-data-details>

    <app-current-weather-view *ngIf="currentWeatherData" [weatherData]="currentWeatherData" [unit]="unit"></app-current-weather-view>

    <app-weather-data-details *ngFor="let forecastData of weatherForecastData" [forecastData]="forecastData" [unit]="unit"></app-weather-data-details>
</div>
