<h1>WeatherViewer Dashboard</h1>

<div class="container">
    <label for="location-input">City Name</label>
    <input id="location-input" ngx-google-places-autocomplete #location [options]="options" (onAddressChange)="addressChange($event, units.value)" />
</div>

<label for="temperature-unit">Unit of Temperature</label>
<select #units name="Temperature Unit" id="temperature-unit" (change)="onUnitChange(units.value)">
    <option value="c">Celsius</option>
    <option value="f">Fahrenheit</option>
</select>

<div *ngFor="let data of weatherData">
    <app-current-weather-view [weatherData]="data" [unit]="unit"></app-current-weather-view>
</div>
