
<h2>Historical Weather</h2>

<div class="container">
    <label for="location-input">City Name</label>
    <input id="location-input" ngx-google-places-autocomplete #location [options]="options" />
</div>

<input type="text" #dateInput />

<button type="button" (click)="getHistoricalWeather(location.value, dateInput.value)" >Get Historical Weather Data</button>

<div *ngIf="historicalWeatherForecast">
    <app-weather-data-details [forecastData]="historicalWeatherForecast"></app-weather-data-details>
</div>
